*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma, Segoe UI', Geneva, Verdana, sans-serif;
}

body{
    display: grid;
    height: 100vh;
    margin: 10px;
}

.heading{
    height: 10%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;
}

.home, .work, .about, .contact, .optionButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionSelect {
    display: none;
}
.home{
    justify-content: flex-start;
}
.optionButton {
    justify-content: flex-end;
}
.images{
    display: flex;
    flex-direction: column; /*need to space images evenly*/
}

@media screen and (min-width:768px) {
    .optionSelect {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .optionButton{
        display: none;
    }
    .heading{
        height: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin: 10px;
    }
    .images{
        display: grid;
        grid-template-areas: 
        "image1 image2"
        "image3 image4"
        "image3 image5"
        "image6 image7";
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
}
.image1{
    grid-area: image1;
}
.image2{
    grid-area: image2;
}
.image3{
    grid-area: image3;
}
.image4{
    grid-area: image4;
}
.image5{
    grid-area: image5;
}
.image6{
    grid-area: image6;
}
.image7{
    grid-area: image7;
}